@import 'breakpoints';

.header__spacer {
  flex: 1 1 auto;
}

.header__brand {
  width: 227px;
}

.bg--black {
  background: black;
  color: white;
}

@media (max-width: $mobileL) {
  .header__brand {
    width: 100px;
  }
}
